.happy-button {
  overflow: hidden;
  border-style: solid;
  border-color: #555;
  padding: 4px;

  &.happy-button-depressed {
    background-color: #333;
    border-top-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    .happy-button-content-wrapper {
    }
  }
  &.happy-button-not-depressed {
    border-top-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 2px;
    border-right-width: 2px;
  }


}
